{% extends "base.html" %}
{% block content %}
<!--
    <div class="jumbotron jumbotron-fluid">
        <h1>Add Job Title </h1>
    </div>
-->
    <br>
    <div class="container-fluid">
        <form class="form-group" method="POST">
            {{form.hidden_tag()}}

            <div class="form-group">
            {{form.title.label(class="form-control-label")}}
            {{form.title(class="form-control form-control-lg ")}}<br>
            </div>

            <div class="form-group">
            {{form.domain.label(class="form-control-label")}}
            {{form.domain(class="form-control form-control-lg ")}}<br>
            </div>

            <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    

    <b>{{ message }}</b>

    <br><br>

    <i>Note: Enter the new Job Title and the respective domain to add them to the database.</i> 
    
    </div>
    
    <br><br><br><br><br><br><br><br><br><br>
{% endblock content %}